@import "../../bower_components/normalize.css";
@import "../..//bower_components/girder/girder.css";
@import "mixins";

header {
  line-height: 2rem;
  background: #1456E8;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #2381FF;
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #FFF;
}

p {
  font-size: 1rem;
}

button {
  background: #16B0FF;
  border: none;
  color: #FFF;
  font-size: 1rem;
}

footer {
  line-height: 2rem;
  height: 2rem;
  width: 100%;
  background: #1487E8;
  position: fixed;
  bottom: 0;
}

.page {
  @include transition(all, 0.5s, ease-in-out);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  &.show {
      opacity : 1;
     max-height: 2000px;
  }
}

.weapon {
  display: block;
   background: url('../images/default.png') no-repeat center;
  background-size: contain;
  width: 100px;
  height: 100px;
  @include transition(all, 0.5s, ease-in-out);

  &.rock {
    background: url('../images/rock.png') no-repeat center;
    background-size: contain;
  }

  &.paper {
    background: url('../images/paper.png') no-repeat center;
    background-size: contain;
  }

  &.scissors {
    background: url('../images/scissors.png') no-repeat center;
    background-size: contain;
  }
}

label {
  display: block;
}

.margin-auto {
  float: none;
  margin: auto;
}

.reset {
  background: #FFF;
  color: #2381FF;
  font-size: 1rem;
}

.grayscale {
 -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
 -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
 -webkit-filter: unquote("grayscale(100%)"); 
 filter: gray;
 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}